*.exe
*.obj
*.pdb
*.ilk
*.so
*.dll
*.log
.env

.vs/
.vscode/
/src/debug/
/src/engine/lomo_dummy_part/
/src/engine/merged_part/
/src/engine/part_even/
/src/engine/part_odd/
/src/engine/test_part_dir/
/src/fx_ui/

/src/engine/dummy_web.log